@use "@styles/variables";
@use "@styles/mixins";

.title {
    margin-top: variables.$xl-spacing;
    margin-bottom: variables.$s-spacing;
}

.subtitle {
    margin-bottom: variables.$xl-spacing;
}

.search {
    display: grid;
    grid-template-columns: auto max-content;
    @include mixins.adaptive(gap,
        variables.$xs-spacing,
        variables.$s-spacing,
        variables.$m-spacing,
        variables.$m-spacing);
    margin-bottom: variables.$s-spacing;
}

.filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: variables.$xs-spacing;
    margin-bottom: variables.$m-spacing;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

.range_filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: variables.$xs-spacing;
    margin-bottom: variables.$l-spacing;
}

.range_group {
    display: grid;
    gap: variables.$xxs-spacing;
}

.range_pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: variables.$xs-spacing;
}

.range_pair * {
    min-width: 100px;
}

.films_title {
    display: flex;
    align-items: center;
    gap: variables.$s-spacing;
    margin-bottom: variables.$m-spacing;
}

.films_row,
.films_skeleton {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));

    @include mixins.adaptive(gap,
        variables.$xs-spacing variables.$xxs-spacing,
        variables.$xs-spacing variables.$xs-spacing,
        variables.$xs-spacing variables.$l-spacing,
        variables.$xs-spacing variables.$xl-spacing );
}

.films {
    margin-bottom: variables.$xl-spacing;
}